<div class="about-me">
    <!-- Section 1: General Introduction -->
    <section class="intro-section">
        <h4 style="color: var(--primary-color);">About me</h4>
        <p>
            I am a second-year PhD student in the <a href="https://www.ece.cmu.edu/" target="_blank">Electrical and Computer Engineering</a> department at <a href="https://www.cmu.edu/" target="_blank">Carnegie Mellon University</a>, where I am fortunate to be advised by <a href="https://www.ece.cmu.edu/directory/bios/Theophilus%20Benson.html" target="_blank">Prof. Theophilus Benson</a>.
        </p>

        <h4 style="color: var(--primary-color);">Research Interests</h4>
        <p>
            I’m highly passionate about data center networking and systems. My current research focuses on congestion control algorithms (CCAs), where I’m building frameworks to make evaluations and simulations of CCAs more aligned with real-world workloads, helping design better-performing network algorithms. Before this, I worked on eBPF-based systems, including Prism, a software-defined observability framework, and Apiary, a runtime for managing distributed eBPF applications. </p>

        <h4 style="color: var(--primary-color);">Previously</h4>
        <p>
            I completed my undergraduate studies from <a href="https://www.iith.ac.in/" target="_blank"> IIT Hyderabad</a>, where I dabbled in diverse domains ranging from astrophysics to theoretical computer science. Some of my most formative experiences included working on pulsars with the <a href="https://www.gmrt.ncra.tifr.res.in/" target="_blank">Giant Metrewave Radio Telescope</a>, traveling to Japan for a research internship that ultimately inspired me to pursue a PhD, and working in the <a href="https://www.netxiith.in/" target="_blank">NetX lab</a> with <a href="https://praveenabt.github.io/" target="_blank">Dr. Praveen Tammana</a>. 
        </p>

        <h4 style="color: var(--primary-color);">Outside Academics</h4>
        <p>
            In my free time, I enjoy watching movies, biking, and singing Bollywood songs. I recently finished the <a href="https://bikepgh.org/2025/06/20/top-spots-youll-find-along-pedalpghs-curated-routes/" target="_blank">25 mile steel city route</a> at PedalPGH! I also love practicing and teaching yoga, and I feel lucky to <a href="https://athletics.cmu.edu/recreation/instructors/bios/Pragna_Mamidipaka" target="_blank">share it with the CMU community</a>.
        </p>
    </section>
</div>
</content>
</invoke>
